
<div class="container-fluid">
  <div class="row">
<div class="col-xl-1" style="background-color: rgb(93, 241, 93);">
<h1 style="color: WHITE;text-align: center;">D</h1>
<p style="text-align: center;color: white;cursor: pointer;font-weight: bold;font-style: oblique;" routerLink="/" class="mt-5">Charts</p>
<p style="text-align: center;color: white;cursor: pointer;font-weight: bold;font-style: oblique;" routerLink="/tables" class="mt-5">Table</p>
</div>
<div class="col-xl-11" style="background-color: #fafafa;">
  <router-outlet></router-outlet>

</div>
  </div>
</div>
